.carousel {
    height: 300px;
    overflow: hidden;
    padding: 8px;
    box-sizing: border-box;
    border-bottom: 20px solid #bf92ce;
    border-top: 20px solid #bf92ce;
    margin: 0 auto;
}
.carousel img {
    height: 250px;
    width: auto;
}

.holder {
    -webkit-animation: carousel 25s linear infinite;
    animation: carousel 25s linear infinite;
    white-space: nowrap;
    will-change: transform;
}
.holder:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
@-webkit-keyframes carousel {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    50% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes carousel {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    50% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


#boutique-btn {
    background:#f7ffa0;
    font-weight: bold;
    padding:10px;
}
